{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'inscription.list'|trans}}</h1>

    <table class=" table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>titre</th>
                <th>date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for key,event in events %}
                <tr>
                    <td>
                        {% if event.title %}{{ event.title }}
                        {% endif %}
                    </td>
                    <td>
                        {% if event.date %}{{ event.date|date('d/m/Y H:i') }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('inscription_show', { 'id': key }) }}">{{'inscription.show'|trans}}</a>
                        
                          <form action="{{ path("inscription_delete" , { 'id':  key })}} " method="post">

                            <input hidden="hidden" type="text" id="id_inscription" name="id" value="{{key}}"/>

                            <input class="btn btn-danger " type="submit" value="{{'inscription.unsubscribe'|trans}}">

                        </form>

                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}