{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'inscription.list'|trans}}</h1>

    <table class=" table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>{{'event.title'|trans}}</th>
                <th>{{'event.date'|trans}}</th>
                <th>{{'event.action'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for key,event in events %}
                <tr>
                    <td>
                        {% if event.title %}{{ event.title }}
                        {% endif %}
                    </td>
                    <td>
                        {% if event.date %}{{ event.date|date('d/m/Y H:i') }}
                        {% endif %}
                    </td>
                    <td class="row" >
                        <div class="col">
                            <a class="btn btn-primary btn-block " href="{{ path('inscription_show', { 'id': key }) }}">{{'inscription.show'|trans}}</a>
                        </div>
                        <div class="col">
                            <form class=" " action="{{ path("inscription_delete" , { 'id':  key })}} " method="post">

                                <input hidden="hidden" type="text" id="id_inscription" name="id" value="{{key}}"/>

                                <input class="btn btn-danger btn-block" type="submit" value="{{'inscription.unsubscribe'|trans}}">

                            </form>
                        </div>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}