{% extends 'base.html.twig' %}

{% block body %}
    <div class=" container">
    <h1>{{'inscription'|trans}}</h1>

    <table class="table ">
        <tbody>
        <tr>
            <th>{{'event.title'|trans}}</th>
            <td>{{ event.title }}</td>
        </tr>
        <tr>
            <th>{{'event.description'|trans}}</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th>{{'event.date'|trans}}</th>
            <td>
                {% if event.date %}{{ event.date|date('d/m/Y H:i') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{'event.place'|trans}}</th>
            <td>{{ event.place }}</td>
        </tr>
        <tr>
            <th>{{'event.theme'|trans}}</th>
            <td>{{ event.theme }}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
    <a class="btn btn-primary col-sm-4" href="{{ path('inscription_index') }}">{{'inscription.backtolist'|trans}}</a>

    <form action="{{ path("inscription_delete" , { 'id':  id })}} " method="post">

        <input hidden="hidden" type="text" id="id_inscription" name="id" value="{{id}}"/>

        <input class="btn btn-danger col-sm-4" type="submit" value="{{'inscription.unsubscribe'|trans}}">

    </form>
    </div>

    <div class="  mx-auto card bg-light" style="margin-top:20px;">
        <div class="card-body ">
            <h2>{{'listparticipant'|trans}}</h2>

            <table class="table table-striped ">
                <tbody>
                <tr>
                    <th>{{'user.lastname'|trans}}</th>
                    <th>{{'user.firstname'|trans}}</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}