<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}GestEvent{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            {#  si pa de style on prends celui par defaut sinon on prend ceului stocké dans la session #}
            {% if app.session.get('style')is empty %}
                <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

            {% else %}
                <link rel="stylesheet" href="{{ asset(app.session.get('style')) }}"/>
            {% endif %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    </head>
    <body  >

        <style type="text/css">
           body{
               backgroud-size:cover;
               background-image:url({{ asset('img/background.jpeg') }}) ; 
               background-repeat: no-repeat center fixed;
               -webkit-background-size: cover;
           }
        </style>
       
        {% include 'default/home.html.twig' %}
        {# fil ariane #}
         {{ wo_render_breadcrumbs() }}
    <br>
        <div class="container ">
            <div class="card" style="margin-bottom:50px;">
                <div class="card-body">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        
        {% block javascripts %}
            <script src="{{ asset('js/jquery.3.0.slim.min.js') }}" ></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            {# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> #}
        {% endblock %}

    </body>


</html>