{% extends 'base.html.twig' %}

{% block body %}
   <div class="row">
    <div class="mx-auto">
      <h1> {{'welcome'|trans}}</h1>
      <div class="text-center  ">
        <a class="btn btn-primary btn-lg" href="{{ path('event_index') }}">{{'events'|trans}}</a>
      </div>
      <div class="text-center  mx-auto">
        <a class="btn btn-warning btn-lg  " href="{{ path('inscription_index') }}">{{'inscriptions'|trans}}</a>
      </div>
    </div>
   </div>
            
{% endblock %}


