{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'event.list'|trans}}</h1>
    <div class="text-center">
        <a class="btn btn-success " href="{{ path('event_new') }}">{{'event.create'|trans}}</a>

    <h3>{{'event.tri'|trans}}</h3>
    <div class="row">
    <div class=" mx-auto card bg-secondary">
        <div class="card-body ">

            <form action="{{ path("event_showByPlace" )}} " class="form-inline " style="display:block" method="post">

                <div class=" form-group justify-content-center ">
                    <div>
                        <input type="text" class="form-control " id="place" name="place"/>
                    </div>
                    <div>
                        <input class="btn btn-info form-control " type="submit" value="{{'event.byplace'|trans}}">
                    </div>
                </div>
            </form>

     
            <form action="{{ path("event_showByDate" )}} " class=" form-inline " style="display:block" method="post">
                <div class=" form-group justify-content-center   ">
                    <div>
                        <input type="date" id="date" class=" form-control " name="date"/>
                    </div>
                    <div>
                        <input class="btn btn-info  form-control  " type="submit" value="{{'event.bydate'|trans}}">
                    </div>
                </div>
            </form>

            <form action="{{ path("event_showByTheme" )}}" class="form-inline  " style="display:block" method="post">
                <div class=" form-group justify-content-center ">
                    <div>
                        <input type="text" id="theme" class=" form-control " name="theme"/>
                    </div>
                    <div>
                        <input class="btn btn-info  form-control " type="submit" value="{{'event.bytheme'|trans}}">
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>

    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>{{'event.title'|trans}}</th>
                {# <th>Description</th> #}
                {# <th>{{'event.nbplace'|trans}}</th> #}
                <th>{{'event.theme'|trans}}</th>
                <th>{{'event.date'|trans}}</th>
                {# <th>Place</th> #}
                <th>{{'event.action'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
          {#  affichage des evenements en cours #}
                {# {% if date(event.date) > date(date_now) %} #}
                    <tr>
                        {# <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td> #}
                        <td>{{ event.title }}</td>
                        {# <td>{{ event.description }}</td> #}
                        {# <td>{{ event.nbPlace }}</td> #}
                        <td>{{ event.theme }}</td>
                        <td>
                            {% if event.date %}{{ event.date|date('d/m/Y') }}
                            {% endif %}
                        </td>
                        {# <td>{{ event.place }}</td> #}
                        <td>

                            {# affichage de edit uniquement si c'est l'utilisateur qui a creer l'evenement #}

                            <a class="btn btn-primary" href="{{ path('event_show', { 'id': event.id }) }}">{{'event.show'|trans}}</a>
                            {% if event.user.id == app.user.id or is_granted("ROLE_ADMIN") %}

                                <a class="btn btn-warning " href="{{ path('event_edit', { 'id': event.id }) }}">{{'event.edit'|trans}}</a>

                            {% endif %}

                        </td>
                    </tr>
                {# {% endif %} #}
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-success " href="{{ path('event_new') }}">{{'event.create'|trans}}</a>

    </div>
{% endblock %}