{% extends 'base.html.twig' %}

{% block body %}
    <div class=" container">

        <h1>{{'event'|trans}}</h1>
        <table class="table ">
            <tbody>
            {# <tr>
            <th>Id</th>
            <td>{{ event.id }}</td>
        </tr> #}
            <tr>
                <th>{{'event.title'|trans}}</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>{{'event.description'|trans}}</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>{{'event.nbplace'|trans}}</th>
                <td>{{ event.nbPlace }}</td>
            </tr>
            <tr>
                <th>{{'event.date'|trans}}</th>
                <td>
                    {% if event.date %}{{ event.date|date('d/m/Y H:i') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'event.place'|trans}}</th>
                <td>{{ event.place }}</td>
            </tr>
            <tr>
                <th>{{'event.theme'|trans}}</th>
                <td>{{ event.theme }}</td>
            </tr>
            </tbody>
        </table>

       

        {# <a class="btn btn-primary btn-block" href="{{ path('event_index') }}">Back to the list</a> #}

        {# affichage de edit et delete uniquement si c'est l'utilisateur qui a creer l'evenement #}
   <div class="text-center">
        {% if event.user.id == app.user.id or is_granted("ROLE_ADMIN")%}
                <a class="btn btn-warning col-sm-4 " href="{{ path('event_edit', { 'id': event.id }) }}">{{'event.edit'|trans}}</a>

                {{ form_start(delete_form) }}
                <input class="btn btn-danger col-sm-4" type="submit" value="{{'event.delete'|trans}}">
                {{ form_end(delete_form) }}
        {% endif %}
            {% if event.user.id != app.user.id %}
                {% if event.nbplace != nbindividu %}
                    <h4>{{'event.placerest'|trans}} : {{ event.nbplace - nbindividu }}</h4>
                <form action="{{ path("inscription_new" , { 'id': event.id })}} " method="post">

                    <input hidden="hidden" type="checkbox" id="id_event" name="id" value="{{event.id}}"/>

                    <input class="btn btn-success col-sm-4" type="submit" value="{{'event.participation'|trans}}">

                </form>
                    {% else %}
                    <h4>{{'event.complet'|trans}}</h4>
                    {% endif %}
            {% endif %}


            <a class="btn btn-primary  col-sm-4" href="{{ path('event_index') }}">{{'event.backtolist'|trans}}</a>
        </div>

 <div class="  mx-auto card bg-light" style="margin-top:20px;">
    <div class="card-body ">
         <h2>{{'listparticipant'|trans}}</h2>
   
        <table class="table table-striped ">
            <tbody>
            <tr>
                <th>{{'user.lastname'|trans}}</th>
                <th>{{'user.firstname'|trans}}</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>{{'event.action'|trans}}</th>
                {% endif %}
            </tr>
            {% for key,user in users %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>

                    {% if is_granted("ROLE_ADMIN") %}
                    <td>
                        <form action="{{ path("inscription_delete" , { 'id':  key })}} " method="post">
                            <input hidden="hidden" type="text" id="id_inscription" name="id" value="{{ key }}"/>
                            <input class="btn btn-danger " type="submit" value="{{'inscription.unsubscribe'|trans}}">
                        </form>
                    </td>
                    {% endif %}
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
{% endblock %}