{% extends 'base.html.twig' %}

{% block body %}
    <div class=" container">

        <h1>Event</h1>

        <table class="table ">
            <tbody>
            {# <tr>
            <th>Id</th>
            <td>{{ event.id }}</td>
        </tr> #}
            <tr>
                <th>{{'event.title'|trans}}</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>{{'event.description'|trans}}</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>{{'event.nbplace'|trans}}</th>
                <td>{{ event.nbPlace }}</td>
            </tr>
            <tr>
                <th>{{'event.date'|trans}}</th>
                <td>
                    {% if event.date %}{{ event.date|date('d/m/Y H:i') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{'event.place'|trans}}</th>
                <td>{{ event.place }}</td>
            </tr>
            </tbody>
        </table>

       

        {# <a class="btn btn-primary btn-block" href="{{ path('event_index') }}">Back to the list</a> #}

        {# affichage de edit et delete uniquement si c'est l'utilisateur qui a creer l'evenement #}
   <div class="text-center">
        {% if event.user.id == app.user.id %}
                <a class="btn btn-warning col-sm-4 " href="{{ path('event_edit', { 'id': event.id }) }}">{{'event.edit'|trans}}</a>

                {{ form_start(delete_form) }}
                <input class="btn btn-danger col-sm-4" type="submit" value="{{'event.delete'|trans}}">
                {{ form_end(delete_form) }}

            {% else %}

                <form action="{{ path("inscription_new" , { 'id': event.id })}} " method="post">

                    <input hidden="hidden" type="checkbox" id="id_event" name="id" value="{{event.id}}"/>

                    <input class="btn btn-success col-sm-4" type="submit" value="{{'event.participation'|trans}}">

                </form>

            {% endif %}

            <a class="btn btn-primary  col-sm-4" href="{{ path('event_index') }}">{{'event.backtolist'|trans}}</a>
        </div>

         <h2>Liste inscrit</h2>

        <table class="table ">
            <tbody>
            <tr>
                <th>nom</th>
                <th>prenom</th>
            </tr>
            {% for user in users %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}